body {
    background: #384047;
}
canvas {
    background: #fff;
    display: block;
    margin: 50px auto 10px;
    cursor: crosshair;
}

.controls {
    display: block;
    margin: 50px auto 10px;
}

ul {
}

ul li {
    display: block;
    float: left;
    margin: 10px;
    border: 1px solid black;
    border-radius: 999px;
    height: 40px;
    width: 40px;
    cursor: auto;

}

.red {
    background-color: red;
    cursor: hand;
}

.blue {
    background: blue;

}
 .yellow {
    background: yellow;
 }

 .selected {
     border: 5px solid #fff;
     border-radius: 999px;
 }

/* New Color Palette */
#colorSelect {
    background: #fff;
    width: 305px;
    margin-top: 25px;
    padding: 18px;
    border-radius: 5px;

}

#newColor {
    width: 80px;
    height: 80px;
    background-color: black;
    border-radius: 3px;
    float:left;
}

.sliders p {
    margin: 8px;
    vertical-align: middle;
}
.sliders label{
    display: inline-block;
}